body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input_with_error {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.validation_error {
  position: absolute;
  right: -400px;
  top: 30px;
}