.main {
    display: block;
    margin-top: 20px;
}

.wrapper {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill);
}

.cells {
    border: 1px solid black;
}

.cells_value {
    display: flex;
    justify-content: center;
    align-items: center;
}